### Data Wrangling with Pandas

In [1]:
import pandas as pd

#### Importing data

In [20]:
df1 = pd.read_csv("data/mexico-real-estate-1.csv", encoding='latin-1') 
df2 = pd.read_csv("data/mexico-real-estate-2.csv", encoding='latin-1')
df3 = pd.read_csv("data/mexico-real-estate-3.csv", encoding='latin-1')
df1

,Unnamed: 0,property_type,state,lat,lon,area_m2,price_usd
0,1,house,Estado de México,19.560181,-99.233528,150,"$67,965.56"
1,2,house,Nuevo León,25.688436,-100.198807,186,"$63,223.78"
2,3,apartment,Guerrero,16.767704,-99.764383,82,"$84,298.37"
3,4,apartment,Guerrero,16.829782,-99.911012,150,"$94,308.80"
4,5,house,Veracruz de Ignacio de la Llave,NaN,NaN,175,"$94,835.67"
...,...,...,...,...,...,...,...
695,696,house,Morelos,NaN,NaN,310,"$237,089.17"
696,697,house,Yucatán,21.050653,-89.558841,334,"$137,017.34"
697,698,house,Yucatán,21.343796,-89.262060,130,"$110,404.35"
698,699,apartment,Nuevo León,NaN,NaN,155,"$184,446.42"
699,700,house,Querétaro,20.587378,-100.418361,106,"$56,637.97"