### Data Wrangling with Pandas

In [1]:
import pandas as pd

#### Importing data

In [21]:
df1 = pd.read_csv("data/mexico-real-estate-1.csv", encoding='latin-1') 
df2 = pd.read_csv("data/mexico-real-estate-2.csv", encoding='latin-1')
df3 = pd.read_csv("data/mexico-real-estate-3.csv", encoding='latin-1')

In [22]:
df1

,Unnamed: 0,property_type,state,lat,lon,area_m2,price_usd
0,1,house,Estado de México,19.560181,-99.233528,150,"$67,965.56"
1,2,house,Nuevo León,25.688436,-100.198807,186,"$63,223.78"
2,3,apartment,Guerrero,16.767704,-99.764383,82,"$84,298.37"
3,4,apartment,Guerrero,16.829782,-99.911012,150,"$94,308.80"
4,5,house,Veracruz de Ignacio de la Llave,NaN,NaN,175,"$94,835.67"
...,...,...,...,...,...,...,...
695,696,house,Morelos,NaN,NaN,310,"$237,089.17"
696,697,house,Yucatán,21.050653,-89.558841,334,"$137,017.34"
697,698,house,Yucatán,21.343796,-89.262060,130,"$110,404.35"
698,699,apartment,Nuevo León,NaN,NaN,155,"$184,446.42"
699,700,house,Querétaro,20.587378,-100.418361,106,"$56,637.97"

In [23]:
df2

,Unnamed: 0,property_type,state,lat,lon,area_m2,price_mxn
0,1,apartment,Nuevo León,25.721081,-100.345581,72,1300000
1,2,apartment,Puebla,NaN,NaN,190,2500000
2,3,house,Morelos,23.634501,-102.552788,360,5300000
3,4,house,Morelos,NaN,NaN,76,820000
4,5,house,Puebla,NaN,NaN,200,1100000
...,...,...,...,...,...,...,...
695,696,house,Morelos,18.917542,-98.963181,140,1450000
696,697,house,Distrito Federal,19.472128,-99.146697,190,1943000
697,698,house,Estado de México,19.234984,-99.558175,115,2100000
698,699,house,Puebla,18.918714,-98.426639,90,890000
699,700,house,Yucatán,21.075163,-89.516731,185,1695000

In [24]:
df3

,Unnamed: 0,property_type,place_with_parent_names,lat-lon,area_m2,price_usd
0,1,apartment,|México|Distrito Federal|Gustavo A. Madero|Acu...,"19.52589,-99.151703",71,48550.59
1,2,house,|México|Estado de México|Toluca|Metepec|,"19.2640539,-99.5727534",233,168636.73
2,3,house,|México|Estado de México|Toluca|Toluca de Lerd...,"19.268629,-99.671722",300,86932.69
3,4,house,|México|Morelos|Temixco|Burgos Bugambilias|,NaN,275,263432.41
4,5,apartment,|México|Veracruz de Ignacio de la Llave|Veracruz|,"19.511938,-96.871956",84,68508.67
...,...,...,...,...,...,...
695,696,house,|México|Jalisco|Tlajomulco de Zúñiga|Tlajomulc...,"20.532264,-103.484418",175,121178.91
696,697,house,|México|Morelos|Jiutepec|,"18.9289862,-99.1802147",100,47417.83
697,698,house,|México|Yucatán|Mérida|,"21.0284038368,-89.6530058049",81,39524.23
698,699,house,|México|San Luis Potosí|San Luis Potosí|,"22.11830417,-101.0321938992",360,245050.24
699,700,house,|México|Estado de México|Toluca|Metepec|,"19.233201,-99.558519",115,110667.85