# Predicting Volatility

**Project Goal**:

In [12]:
import sqlite3

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from arch import arch_model
from config import settings
from data import SQLRepository
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

### Prepare Data

#### Import

Connect to a database:

In [14]:
connection = sqlite3.connect(settings.db_name, check_same_thread=False)
repo = SQLRepository(connection=connection)

print("repo type:", type(repo))
print("repo.connection type:", type(repo.connection))

repo type: <class 'data.SQLRepository'>
repo.connection type: <class 'sqlite3.Connection'>

Read Ambuja Data From Database

In [15]:
df_ambuja = repo.read_table(table_name="AMBUJACEM.BSE", limit=2500)

print("df_ambuja type:", type(df_ambuja))
print("df_ambuja shape:", df_ambuja.shape)
df_ambuja.head()

df_ambuja type: <class 'pandas.core.frame.DataFrame'>
df_ambuja shape: (2500, 5)

              open    high     low   close     volume
date
2024-06-05  576.75  601.75  550.35  599.05   493444.0
2024-06-04  670.60  670.60  518.00  557.40  1110009.0
2024-06-03  665.05  676.65  653.20  670.60   558604.0
2024-05-31  628.95  639.40  623.45  634.30    84665.0
2024-05-30  625.05  631.15  617.00  618.70   115283.0