## Linear Regression with Time Series Data

In [2]:
import matplotlib.pyplot as plt 
import pandas as pd 
import plotly.express as px 
import pytz 
from pymongo import  MongoClient 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

### Prepare Data

Connect to Database

In [ ]:
client = MongoClient(host="localhost", port=27017)

In [5]:
# Import data
df = pd.read_csv("data/nairobi-city-air-quality.csv")
df.head()

  timestamp     P2
0   00:02.5  34.43
1   05:03.9  30.53
2   10:04.4  22.80
3   15:04.2  13.30
4   20:04.9  16.57

#### Import