## Predicting Damage with Decision Trees

**Goal**: Build a classification model that will predict whether a building will be severely damagaed or not severely damaged.

In [2]:
import sqlite3
import warnings

import matplotlib.pyplot as plt 
import pandas as pd 
from category_encoders import OrdinalEncoder
from sklearn.metrics import  accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.utils.validation import check_is_fitted

#### Prepare Data

Import Data

The function below imports data from sqlite server:

In [ ]:
def wrangle(db_path):
    # Connect to database
    conn = sqlite3.connect(db_path)

    # Construct query
    query = """
        SELECT distinct(i.building_id) AS b_id,
           s.*,
           d.damage_grade
        FROM id_map AS i
        JOIN building_structure AS s ON i.building_id = s.building_id
        JOIN building_damage AS d ON i.building_id = d.building_id
        WHERE district_id = 4
    """

    # Read query results into DataFrame
    df = pd.read_sql(query, conn, index_col="b_id")

    # Identify leaky columns
    drop_cols = [col for col in df.columns if "post_eq" in col]

    # Add high-cardinality / redundant column
    drop_cols.append("building_id")

    # Create binary target column
    df["damage_grade"] = df["damage_grade"].str[-1].astype(int)
    df["severe_damage"] = (df["damage_grade"] > 3).astype(int)

    # Drop old target
    drop_cols.append("damage_grade")

    # Drop multicollinearity column
    drop_cols.append("count_floors_pre_eq")

    # Drop columns
    df.drop(columns=drop_cols, inplace=True)

    return df

Example importing:

df = wrangle("/some/dir/some/data.sqlite")
df.head()

Importing csv with pd

In [3]:
def wrangle2(filepath):
      # Read data into DataFrame
    df = pd.read_csv(filepath).set_index("b_id")

    # Identify leaky columns
    drop_cols = [col for col in df.columns if "post_eq" in col]

    # Add high-cardinality / redundant column
    drop_cols.append("building_id")

    # Create binary target column
    df["damage_grade"] = df["damage_grade"].str[-1].astype(int)
    df["severe_damage"] = (df["damage_grade"] > 3).astype(int)

    # Drop old target
    drop_cols.append("damage_grade")

    # Drop multicollinearity column
    drop_cols.append("count_floors_pre_eq")

    # Drop columns
    df.drop(columns=drop_cols, inplace=True)
    
    return df

In [5]:
df = wrangle2("data/df.csv")
df.head()

        age_building  plinth_area_sq_ft  ...  superstructure severe_damage
b_id                                     ...
164002            20                560  ...           Stone             0
164081            21                200  ...           Stone             0
164089            18                315  ...           Stone             0
164098            45                290  ...           Stone             0
164103            21                230  ...           Stone             0

[5 rows x 12 columns]

Assert importation:

In [7]:
assert df.shape[0] == 70836, f"`df` should have 70,836 rows, not {df.shape[0]}."
assert df.shape[1] == 12, f"`df` should have 12 columns, not {df.shape[1]}."

Split

Split features(X) and target(y):

In [8]:
target = "severe_damage"
X = df.drop(columns=target)
y = df[target]

Assert spliting data into X and y:

In [9]:
assert X.shape == (70836, 11), f"The shape of `X` should be (70836, 11), not {X.shape}."
assert y.shape == (70836,), f"The shape of `y` should be (70836,), not {y.shape}."

Randomized Train-Test Split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.2, random_state=42
)

Assert split:

In [13]:
assert X_train.shape == (
    56668,
    11,
), f"The shape of `X_train` should be (56668, 11), not {X_train.shape}."
assert y_train.shape == (
    56668,
), f"The shape of `y_train` should be (56668,), not {y_train.shape}."
assert X_test.shape == (
    14168,
    11,
), f"The shape of `X_test` should be (14168, 11), not {X_test.shape}."
assert y_test.shape == (
    14168,
), f"The shape of `y_test` should be (14168,), not {y_test.shape}."

Divide X_train and y_train into training and validation sets using a randomized train-test split:

In [14]:
X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, test_size=.2, random_state=42
)

Assert split:

In [15]:
assert X_train.shape == (
    45334,
    11,
), f"The shape of `X_train` should be (45334, 11), not {X_train.shape}."
assert y_train.shape == (
    45334,
), f"The shape of `y_train` should be (45334,), not {y_train.shape}."
assert X_val.shape == (
    11334,
    11,
), f"The shape of `X_val` should be (11334, 11), not {X_val.shape}."
assert y_val.shape == (
    11334,
), f"The shape of `y_val` should be (11334,), not {y_val.shape}."

#### Build Model

Baseline Model

In [16]:
acc_baseline = y_train.value_counts(normalize=True).max()
print("Baseline Accuracy:", round(acc_baseline, 2))

Baseline Accuracy: 0.64

Iterate

In [23]:
# Height
df['height_ft_pre_eq'].describe()

count    70836.000000
mean        15.068355
std          4.750919
min          6.000000
25%         12.000000
50%         14.000000
75%         18.000000
max         99.000000
Name: height_ft_pre_eq, dtype: float64

In [44]:
df.describe().round(2)

       age_building  plinth_area_sq_ft  height_ft_pre_eq  severe_damage
count      70836.00           70836.00          70836.00       70836.00
mean          25.76             410.59             15.07           0.64
std           61.21             210.38              4.75           0.48
min            0.00              70.00              6.00           0.00
25%           10.00             265.00             12.00           0.00
50%           19.00             378.00             14.00           1.00
75%           30.00             504.00             18.00           1.00
max          999.00            4995.00             99.00           1.00